@page "/Incomes"
@rendermode InteractiveServer

@using HFTLibrary.Data
@using HFTLibrary.Models
@using SessionData
@using System.Diagnostics

@inject IEFCoreData _db;
@inject SessionData _session;

<PageTitle>Einkommen</PageTitle>

<div class="container mb-4">
    <div class="row">
        <h3>Einkommen</h3>
    </div>


    @if (_financialPlan is null)
    {
        <div class="row">
            <p class="fs-4 text-danger">Kein Finanzplan ausgewählt!</p>
        </div>
    }
    else if (_showDeleteConfirmDialog)
    {
        <div class="row">
            <p class="fs-4 text-danger">TODO: Lösch-Dialog für Einkommen!</p>
        </div>
    }
    else
    {
        <div class="row">
            <EditForm Model="@_financialPlan" OnSubmit="HandleValidSubmitAsync" FormName="FinancialPlanForm">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="row card">

      @*               <div class="card-body d-flex flex-row justify-content-end align-items-start">
                        <div class="col-auto bi bi-trash btn btn-outline-danger py-2" title="Finanzplan löschen" @onclick="HandleDeleteButton" />
                    </div> *@

                    <div class="col">

                        <div class="row my-2">
                            <div class="col-1">
                                <label>Pos.</label>
                            </div>

                            <div class="col">
                                <label>Bezeichnung</label>
                            </div>

                            <div class="col-2">
                                <label>Konto</label>
                            </div>

                            <div class="col-2">
                                <label></label>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <hr class="my-4" />
                </div>

                <div class="row my-2">
                    <div class="col" />
                    <div class="col-auto ">
                        <button type="submit" class="btn btn-outline-primary px-4">Speichern</button>
                    </div>
                </div>

            </EditForm>
        </div>
    }

</div>

@code {
    private FinancialPlanModel? _financialPlan = null;
    private bool _showDeleteConfirmDialog = false;

    protected override async Task OnInitializedAsync()
    {
        _financialPlan = await _db.GetFinancialPlanLazyAsync(_session.SelectedFinancialPlanId);
    }

    private async Task HandleValidSubmitAsync()
    {
        Debug.WriteLine($"In {nameof(HandleValidSubmitAsync)}()");

        if (_financialPlan is null)
        {
            return;
        }

        _financialPlan.DateModified = DateTime.Now;
        await _db.UpdateFinancialPlanAsync(_financialPlan);
    }

    private void HandleDeleteButton()
    {
        Debug.WriteLine($"In {nameof(HandleDeleteButton)}()");
        _showDeleteConfirmDialog = true;
    }

    private void HandleDialogClosed()
    {
        _showDeleteConfirmDialog = false;
        StateHasChanged();
    }
}